.navbar .nav-link {
    opacity: .9;
    transition: opacity .2s ease, color .2s ease;
}

.navbar .nav-link:hover {
    opacity: 1;
    text-decoration: underline;
}

.myBox-section .list-group-item {
    border:0;
    border-bottom:1px solid rgba(0,0,0,.075)
}

.myBox-section .list-group-item:last-child{
    border-bottom:0
}

.list-group-item img {
    height: 100px;
    width: 160px;
    object-fit: cover;
    object-position: center;
}
