.navbar .nav-link {
    opacity: .9;
    transition: opacity .2s ease, color .2s ease;
}

.navbar .nav-link:hover {
    opacity: 1;
    text-decoration: underline;
}

.menu-section .list-group-item {
    border:0;
    border-bottom:1px solid rgba(0,0,0,.075)
}

.menu-section .list-group-item:last-child{
    border-bottom:0
}